

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
#comprar {
    margin-top: 5rem;
    padding: 0rem 5rem 3rem 3rem;
    div {
        flex-direction: row!important;
        button {
            padding: 2rem;
        }
        .fa-angle-down {
            transform: rotate(270deg);
        }
    }
}
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }