$gradiente-azul: linear-gradient(
  90deg,
  rgba(62, 96, 148, 1) 6%,
  rgba(29, 50, 75, 1) 100%
);
$azul: "";

$tipografia: "";

section {
  text-align: center;
}

.transparent {
  background-color: transparent;
}
