@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body,
html,
p,
a,
h1,
span {
  font-family: "Montserrat", sans-serif;
}
$gradiente-azul: linear-gradient(
  90deg,
  rgba(62, 96, 148, 1) 6%,
  rgba(29, 50, 75, 1) 100%
);
$azul: "";

$tipografia: "";

section {
  text-align: center;
}
h1 {
  font-size: 2rem;
}
#cart {
  display: none;
}

.showy {
  position: absolute;
  right: 10px;
  top: 70px;
  background-color: white;
  padding: 1rem;
  display: block;
}

.transparent {
  background-color: transparent;
}
.no-shadow {
  box-shadow: none !important;
}
.buscador {
  width: 250px !important;
}
.loginForm {
  width: 320px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  top: 0px;
  left: 0px;
  position: absolute;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.968);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.488);
  width: 80%;
  z-index: 10;
  border-radius: 0px 0px 2rem;
}
