#nosotros {
  header {
    #carousel-header {
      .carousel-item {
        img {
          height: 40vh;
        }
      }
    }
    #info-header {
      margin-top: 10rem;
    }
  }
}

@media (min-width: 768px) {
  #nosotros {
    header {
      #carousel-header {
        .carousel-item {
          img {
            height: 50vh;
          }
        }
      }
      #info-header {
        margin-top: 10rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  #nosotros {
    header {
      #carousel-header {
        .carousel-item {
          img {
            height: 50vh;
          }
        }
      }
      #info-header {
        margin-top: 11rem;
      }
    }
  }
}

@media (min-width: 1400px) {

}
