#servicios {
  div {
    button {
      background: $gradiente-azul;
    }
  }
}

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #servicios {
    margin: 4rem 0 5rem 0;
    padding: 0rem 3rem;
    div {
      flex-direction: row !important;
      justify-content: center;

      button {
        padding: 2rem;
        width: 25%;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
